body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: Arial, sans-serif;
}

h1 {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.5em;
}

.navbox {
  width: 30%;
  float: left;
  margin-right: 1em;
  background-color: #ebe49e;
  border: 10px solid #d3cd92;
}

.navbartop a:link,
.navbox a:link {
  text-decoration: none;
  /* poistaa alleviivauksen */
}

.kuva-container {
  margin: 2em;
}

.kuva-teksti {
  width: 93%;
  text-align: center;
}

table {
  border: 2px dashed #ccd0ab;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px dotted #ccd0ab;
  text-align: center;
}