/* Common */

body {
  margin-top: -1%;
  margin-bottom: 2%;
  font-family: Arial, sans-serif;

}

h1 {
  margin-bottom: 0.5em;
  margin-right: 1em;
  margin-top: 0.5em;
}

ul {
  padding-left: 1.0em;
}

table {
  border: 2px dashed #ccd0ab;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px dotted #ccd0ab;
  text-align: center;
}

/* Navigation box */

.navbox {
  width: 30%;
  float: left;
  margin-right: 1em;
  background-color: #ebe49e;
  border: 10px solid #d3cd92;
}

/* Navigation bar - bottom */

.navbarbottom {
  background-color: #ebe49e;
}

.navbarbottom ul {
  padding: 0.5em;
}

.navbarbottom li {
  display: inline-block;
}

.navbarbottom-float-right {
  float: right;
}

/* Navigation bar - top */

.navbartop {
  background-color: #ebe49e;
}

.navbartop ul li {
  display: inline;
  border-left: 1px solid black;
  margin-left: 0.5em;
  padding-left: 0.5em;
}

.navbartop ul {
  padding: 0.5em;
}

.navbartop ul li:first-child {
  margin-left: 0.5em;
  padding-left: 0.5em;
}

/* Media */

.kuva-container {
  margin: 2em;
}

.kuva-teksti {
  width: 93%;
  text-align: center;
  font-weight: bold;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.galleriakuva {
  padding: 1.5em;
}

.video {
  width: 90vw;
  height: calc(90vw*0.5625)
    /* lasketaan oikea suhde */
}

@media all and (max-width: 500px) {

  .navigation {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .navbox {
    width: 50%;
    margin-right: 0.5em;
    border: none;
    padding: 0em;
  }

  .navbartop ul {
    list-style-type: circle;
  }

  .navbartop ul li {
    display: block;
    list-style-type: circle;
    border-left: none;
    margin-left: 0em;
    padding-left: 0em;
  }

  .navbartop ul {
    padding: 0.5em;
  }

  .navbartop ul li:first-child {
    margin-left: 0em;
    padding-left: 0em;
  }

  img {
    max-width: 100%;
  }

  pre {
    overflow: scroll;
  }
}