/* Common */

body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: Arial, sans-serif;
}

h1 {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.5em;
}

table {
  border: 2px dashed #ccd0ab;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px dotted #ccd0ab;
  text-align: center;
}

/* Navigation box */

.navbox {
  width: 30%;
  float: left;
  margin-right: 1em;
  background-color: #ebe49e;
  border: 10px solid #d3cd92;
}

/* Navigation bar - bottom */

.navbarbottom {
  background-color: #ebe49e;
}

.navbarbottom ul {
  padding: 0.5em;
}

.navbarbottom li {
  display: inline-block;
}

.navbarbottom-float-right {
  float: right;
}

/* Navigation bar - top */

.navbartop {
  background-color: #ebe49e;
}

.navbartop ul li {
  display: inline;
  border-left: 1px solid black;
  margin-left: 0.5em;
  padding-left: 0.5em;
}

.navbartop ul {
  padding: 0.5em;
}

.navbartop ul li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

/* Media */

.kuva-container {
  margin: 2em;
}

.kuva-teksti {
  width: 93%;
  text-align: center;
}