/* Common */

body {
  margin-bottom: 2%;
  font-family: Arial, sans-serif;
  margin: 0;
}

h1 {
  margin-bottom: 0.5em;
  margin-right: 1em;
  margin-top: 0.5em;
}

ul {
  padding-left: 1.0em;
}

table {
  border: 2px dashed #ccd0ab;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px dotted #ccd0ab;
  text-align: center;
}

/* Special layout for maecenas page */
/* Source: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper>* {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

/* Navigation box */

.navbox {
  width: 25%;
  float: left;
  margin-right: 1em;
  background-color: #ebe49e;
  border: 10px solid #d3cd92;
}

.navbox-right {
  width: 25%;
  height: 100em;
  float: right;
  margin-right: 1em;
  background-color: #ebe49e;
}

/* Navigation bar - bottom */

.navbarbottom {
  background-color: #ebe49e;
}

.navbarbottom ul {
  padding: 0.5em;
}

.navbarbottom li {
  display: inline-block;
}

.navbarbottom-float-right {
  float: right;
}

/* Navigation bar - top */

.navbartop li {
  background-color: #ebe49e;
  display: inline;
  border-left: 1px solid black;
  margin-left: 0.5em;
  padding-left: 0.5em;
}

.navbartop ul {
  background-color: #ebe49e;
  padding: 0.5em;
  margin: 0;
}

.navbartop ul li:first-child {
  margin-left: 0.5em;
  padding-left: 0.5em;
}

/* Media */

.kuva-container {
  margin: 2em;
}

.kuva-teksti {
  width: 93%;
  text-align: center;
  font-weight: bold;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.galleriakuva {
  padding: 1.5em;
}

.video {
  width: 90vw;
  height: calc(90vw*0.5625)
    /* lasketaan oikea suhde */
}

@media all and (max-width: 500px) {

  .navigation {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .navbox {
    width: 50%;
    margin-right: 0.5em;
    border: none;
    padding: 0em;
  }

  .navbartop ul {
    list-style-type: circle;
  }

  .navbartop ul li {
    display: block;
    list-style-type: circle;
    border-left: none;
    margin-left: 0em;
    padding-left: 0em;
  }

  .navbartop ul {
    padding: 0.5em;
  }

  .navbartop ul li:first-child {
    margin-left: 0em;
    padding-left: 0em;
  }

  img {
    max-width: 100%;
  }

  pre {
    overflow: scroll;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

}

@media print {

  .navbartop,
  .navbox,
  .navbarbottom {
    display: none;
  }

  body {
    margin-top: 0.5cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    margin-bottom: 0.5cm;
    font-family: "Times New Roman", serif;
  }

}